{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
<div class="container-logout">
    <div class="row">
        <div class="col-md-8 mt-5 offset-md-1 mb-4">
            <h2>{% trans "Sign Out" %}</h2>
            <p>{% trans 'Are you sure you want to sign out?' %}</p>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden"
                name="{{ redirect_field_name }}"
                value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn btn-success" type="submit">{% trans 'Sign Out' %}</button>
            </form>
            <br>
            <a href="{% url 'home' %}" class="btn btn-info">RETURN</a>
        </div>
    </div>
</div>
{% endblock %}

