{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "My bookings" %}{% endblock %}

{% block content %}
<!-- For user to delete their booking -->
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-5">
            <form method="post">
            {% csrf_token %}
                <h2 class="heading">Are you sure you want to delete this booking?</h2>
                <ul class="bookings_form_list">
                    <li> {{ bookings.user }}</li>
                    <li> {{ bookings.event_date }}</li>
                    <li> {{ bookings.start_time }}</li>
                    <li> {{ bookings.event_choice }}</li>
                </ul>
                <button class="btn btn-danger">Delete</button> 
            </form>
            <a href="{% url 'my_bookings' %}" class="btn btn-info form-btn">Return</a>
        </div> 
    </div>
</div>
{% endblock %}