{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "My bookings" %}{% endblock %}

<!--BLOCK CONTENT INNEHÅLLER KOD FRÅN ANDRA TEMPLATES. Allt innehåll från den sida som vi vill visa, visas inom block content. Här vill vi visa vår form. -->
{% block content %}
<div>
    <h2>Are you sure you want to delete this booking?</h2>
    <form method="post">
        {% csrf_token %}
        {{ booking }}

<button class="btn btn-danger">Delete</button>
    </form>
</div>
{% endblock %}