{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Create Booking" %}{% endblock %}

{% block content %}
    <div class="container-fluid edit_item">
        <div class="row">
            <div class="col-md-8 mt-5 offset-md-1">
            <h2 class="heading">Hello {{user.username}}, would you like update your booking?</h2>
                <div class="booking-form">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success" type="submit">Update</button>
                </form>
                <a href="{% url 'my_bookings' %}" class="btn btn-danger form-btn">Cancel</a>
                </div>
            </div>
        </div>
   </div>
{% endblock %}
