{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Create Booking" %}{% endblock %}

<!--BLOCK CONTENT INNEHÅLLER KOD FRÅN ANDRA TEMPLATES. Allt innehåll från den sida som vi vill visa, visas inom block content. Här vill vi visa vår form. -->
{% block content %}


    <div class="container-sign-in">
        <div class="row">
            <div class="col-md-8 mt-5 offset-md-1">
            <h2 class="heading">Hello {{user.username}}, would you like update your booking?</h2>
                <div class="booking-form">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success"type="submit">Submit</button>
                </form>
                </div>
            </div>
        </div>
   </div>
{% endblock %}
