{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "My bookings" %}{% endblock %}

<!--BLOCK CONTENT INNEHÅLLER KOD FRÅN ANDRA TEMPLATES. Allt innehåll från den sida som vi vill visa, visas inom block content. Här vill vi visa vår form. -->
{% block content %}
   <div class="col-12 mt-1 right">
    <div class="row">
        <h2>My bookings:</h2>
        {% if bookings %}
        <ul>
            {% for booking in bookings %}
            <li> {{ booking.booking_id }}</li>
            <li> {{ booking.event_date }}</li>
            <li> {{ booking.lesson_time }}</li>
            <li> {{ booking.event_choice}}</li>
            <td>
                <a href="{% url 'edit_item' booking.booking_id %}">
                    <button>Edit</button>
                </a>
            </td>   
            <label for="add">Add new booking</label>
            <button id="add"><a href="{% url 'process_form' %}">Add</a></button>
            <label for="delete">Delete booking</label>
            <button id="delete"><a href="{% url 'delete_booking' booking.booking_id %}">Delete</a></button>
            <hr>
            {% endfor %}
        </ul>
            
        {% else %}
        <p>You have no bookings yet.</p>
        {% endif %}
{% endblock %}