{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "My bookings" %}{% endblock %}

<!--BLOCK CONTENT INNEHÅLLER KOD FRÅN ANDRA TEMPLATES. Allt innehåll från den sida som vi vill visa, visas inom block content. Här vill vi visa vår form. -->
{% block content %}
<div class="container-sign-in">
    <div class="row">
        <div class="col-md-8 mt-5 offset-md-1">
            <h2>My bookings:</h2>
            {% if bookings %}
            <ul class="my_bookings_form_list">
                {% for booking in bookings %}
                <li> {{ booking.user }}</li>
                <li> {{ booking.event_date }}</li>
                <li> {{ booking.lesson_time }}</li>
                <li> {{ booking.event_choice}}</li>
                    <a href="{% url 'edit_item' booking.booking_id %}">
                        <button class="btn btn-info">Edit</button>
                    </a>  
                    <a href="{% url 'delete_booking' booking.booking_id %}">
                        <button class="btn btn-danger">Delete</button>            
                    </a>
                    <a href="{% url 'process_form' %}">
                        <button class="btn btn-success">Add</button>
                    </a>
                    <hr>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
            
        {% else %}
        <p>You have no bookings yet.</p>
        {% endif %}
{% endblock %}