{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "My bookings" %}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mt-5 offset-md-1">
            <h2 class="heading">My bookings:</h2>
            {% if bookings %}
            <ul class="bookings_form_list">
                {% for booking in bookings %}
                <li>Booking is for: {{ booking.user }}</li>
                <li>Date: {{ booking.event_date }}</li>
                <li>Starts at: {{ booking.lesson_time }}</li>
                <li>Event choice: {{ booking.event_choice}}</li>
                    <a href="{% url 'edit_item' booking.booking_id %}">
                        <button class="btn btn-info">Edit</button>
                    </a>  
                    <a href="{% url 'delete_booking' booking.booking_id %}">
                        <button class="btn btn-danger">Delete</button>            
                    </a>
                    <a href="{% url 'process_form' %}">
                        <button class="btn btn-success">Add</button>
                    </a>
                    <hr>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
            
        {% else %}
        <p>You have no bookings.</p>
        <a href="{% url 'process_form' %}">
            <button class="btn btn-success">Add New Booking</button>
        </a>

        {% endif %}
{% endblock %}