{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Create Booking" %}{% endblock %}


{% block content %}
<div class="container-sign-in text-center">
    <div class="col-md-8 mt-5 offset-md-1">
        <div class="row">
            <div class="form-group">
                <h2>Hello {{user.username}}, would you like to create a booking?</h2>
                <form method="post" action="{% url 'process_form' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-success" type="submit">Submit</button>
                </form>
            </div>
        </div>
   </div>
</div>
{% endblock %}
