body {
    background-color: #F9FAFC;
}

.hide {
    display: none;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #c24545;
}

.dark-bg {
    background-color: #b3bdc6;
}

.main-bg {
    background-color: #000000;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.event-link {
    text-decoration: none;
    color: #445261;
}

.event-link:hover,
.page-link {
    color: #E84610;
}

.event-title {
    margin-top: 20%;
    margin-left: 5%;
}

.event-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

/* index.html */
.hero-img-slide{
    max-width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.carousel-caption{
    color: #ffffff;
    position: absolut;
    top: 40%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    height: fit-content;
    line-height: 30px;
}


/* Sign in, bookings form */
.container-sign-in {
    background-color: #ffff;
    border: black 2px solid;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 20px;

}
/* Booking form */
.bookings_form_list{
    list-style: none;
    line-height: 30px;
}


.btn{
    width: fit-content;
}


/* About us */



/* contact form */
.img-contact-form{
    background-image: url('https://res.cloudinary.com/dcqwfgtyk/image/upload/pexels-cottonbro-studio-3826431_r1ursy.jpg');
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: solid 2px white;
}

.img-border-contact-form{
    height: 250px;
    width: 250px;
    border-radius: 50%;
   
}

.background-contact-form{
    background-image: url('https://res.cloudinary.com/dcqwfgtyk/image/upload/rzdyxhwejkzyfehugxsp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -300px center;
}

.contact-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: #F9FAFC;
    font-weight: bold;

}

.contact-form h1{
    padding-bottom: 2em;
}

#email-success {
    color: #155724; 
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: .25rem; 
    padding: 1rem; 
    margin-bottom: 1rem;
    position: absolute;
    left: 50%;
    
}