/* Main styles */
.hide {
    display: none;
}

.brand {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: #000000;
}

.thin {
    font-weight: 300;
}

.btn, .heading{
    font-family: 'Bebas Neue', sans-serif;
}

.heading {
    color: darkslategray;
}

.main-bg {
    background-color: #E9ECEF;
}


/* event posts code copied from Code Institute walktrough project*/ 
.card {
    border: white 2px;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}


/* Event information, code copied from Code Institute walktrough project */ 
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: rgb(255, 255, 255);
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.event-link {
    text-decoration: none;
    color: darkslategray;
}

.event-link:hover,
.page-link {
    color:  #445261;
}

.event-title {
    margin-top: 20%;
    margin-left: 5%;
    font-family: 'Bebas Neue', sans-serif;
}

.event-subtitle {
    margin-left: 5%;
    color: #d3d3d3;
}

/* index.html */
.info-opening{
    border: white 2px solid;
    padding: 2%;
}

.membership-medals {
    border: #ffff 1px solid;
    margin: 1%;
    padding: 1%;
    width: fit-content;
}

.membership-medals li {
    font-weight: 300;
    line-height: 1.5rem;
}

.event-posts h2{
    color: darkslategrey;
}


/* Bootstrap carousel */
.carousel-inner img{
    max-height: 800px;
    object-fit: cover;
}

.hero-img-slide{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: top;
    height: 100%;
}

.carousel-caption{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    height: fit-content;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 30px;
}

.carousel-caption h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
}

/* Edit item */
.edit_item{
    border: #fff 2px solid;
    padding: 20px;
    padding-bottom: 20px;
}

/* Booking form */
.bookings_form_list{
    list-style: none;
    line-height: 1.5rem;
    font-weight: 600;
    border: #fff 2px solid;
    padding: 2%; 
}

.bookings_form_list li{
    margin-bottom: 10px;
    list-style: none;
}

#id_options_field {
    list-style: none;
}

label[for="id_extra_comments"] {
    color: #000000;
    display: block;
  }

.form-btn{
    margin: 10px;
    margin-left: inherit;
}


/* About us */
.about-image{
    width: 100%;
    height: auto;
    max-width: 500px;
}


/* contact form */
.contact-form{
 background-color:  #E9ECEF;
 color: darkslategray;
 border: rgb(255, 255, 255) 2px solid;
 padding: 30px;
}

#id_message{
 width: 100%;
 max-width: 400px;
}

.fa-envelope{
color: #2c2b2bd4;
}

.contact-form h1{
    line-height: 50px;
    padding-top: 10%;
    font-family: 'Bebas Neue', sans-serif;
}

.contact-form .btn{
    margin-bottom: 10%;
    font-family: 'Bebas Neue', sans-serif;
}

.contact-form label{
    display: block;
    font-size: small;
}


/* Signup.html */
.container-sign-up{
    font-family: 'apple-system', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color:  #E9ECEF;
    color: darkslategray;
    border: rgb(255, 255, 255) 2px solid;
    margin: 2%;
    align-self: center;
    padding: 20px 50px; 
}

.container-sign, h2{
    font-family: 'Bebas Neue', sans-serif;
}

.container-sign-up li{
    
}

label[for="id_username"] {
    display: none;
  }

label[for= "id_email"] {
    display: none;
}

label[for="id_password1"] {
    display: none;
  }

label[for="id_password2"] {
    display: none;
  }


/* login.html */ 
.container-login{
    font-family: 'apple-system', sans-serif;
    font-weight: 400;
    color: #000000;
    border: #fff 2px solid;
    background-color:  #E9ECEF;
    margin: 2%;
    padding: 2%;
}

.container-login h3{
    font-family: 'Bebas Neue', sans-serif;
}

.helptext{
    display: none;
}

.container-logout h2{
 font-family: 'Bebas Neue', sans-serif;
}

/* logout.html */
.container-logout{
    border: #ffffff solid 2px;
    margin: 2%;
    padding: 2%;
}

.container-logout h2{
    font-family: 'Bebas Neue', sans-serif;
}

.link {
    color: rgb(27, 127, 233);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: rgb(134, 141, 218);
    text-decoration: underline;
}


/* Footer */
.dark-bg {
    background-color: #b3bdc6;
}

.short-hr {
    width: 50%;
    color: darkslategray;
}

.link-footer {
    color: white;
}
