body {
    background-color: #F9FAFC;
}

.hide {
    display: none;
}

.brand {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
}


.thin {
    font-weight: 300;
}
/* Footer */
.dark-bg {
    background-color: #b3bdc6;
}

/* main content event */
.main-bg {
    background-color: #E9ECEF;
}

/* event posts*/ 
.card {
    border: white 2px;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

/* Event information, code copied from Code Institute walktrough project */ 
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: rgb(255, 255, 255);
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.event-link {
    text-decoration: none;
    color: darkslategray;
}

.event-link:hover,
.page-link {
    color:  #445261;
}

.event-title {
    margin-top: 20%;
    margin-left: 5%;
}

.event-subtitle {
    margin-left: 5%;
    color: lightgray;
}

/* sign in */ 
.btn-signup {
    background-color: #2771e9;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color:  #2771e9;
}

.link {
    color: #2771e9;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

/* index.html */
/* Bootstrap carousel */
.carousel-inner img{
    max-height: 800px;
    object-fit: cover;
}


.hero-img-slide{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: top;
    height: 100%;
}


.carousel-caption{
    color: #ffffff;
    position: absolut;
    top: 40%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    height: fit-content;
    line-height: 30px;
}


/* Sign in, bookings form */
.container-sign-in {
    background-color: rgba(0, 0, 0, 0.5);
    color: #F9FAFC;
    border: darkslategray 2px solid;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
    font-family:Georgia, 'Times New Roman', Times, serif, sans-serif;
}
/* Booking form */
.bookings_form_list{
    list-style: none;
    line-height: 30px;
}


.btn{
    width: fit-content;
}


/* About us */



/* contact form */
.contact-form{
 background-color:  #E9ECEF;
 align-items: center;
 color: darkslategray;
 border: rgb(255, 255, 255) 2px solid;
 margin: 20px;
 align-self: center;
 padding: 20px 50px;
}

.fa-envelope{
color: #fff;
}


.contact-form h1{
    line-height: 50px;
    padding-top: 10%;
    font-family: 'Bebas Neue', sans-serif;
}

.contact-form .btn{
    margin-bottom: 10%;
    font-family: 'Bebas Neue', sans-serif;
}
.contact-form label{
    display: block;
    font-size: small;
}

/* index.html homepage*/
.event-posts h2{
    color: darkslategrey;

}
#email-success {
    color: #155724; 
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: .25rem; 
    padding: 1rem; 
    margin-bottom: 1rem;
    position: absolute;
    left: 50%;
}