{% extends "base.html" %}

{% block content %}
<!--The slideshow is a Bootstrap carousel. Code can be found on this link https://getbootstrap.com/docs/4.0/components/carousel/.
        The .carousel-caption conten has been changed from original code.-->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="8000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 hero-img-slide"
                    src="https://res.cloudinary.com/dcqwfgtyk/image/upload/t_man-bar-fill/v1703079785/pexels-victor-freitas-2261485_e1skl9.jpg"
                    alt="First slide">
                <div class="carousel-caption d-none d-md-block col-md-8 col-lg-8">
                    <h3>OUR MISSION</h3>
                    <hr>
                    <p>We're here to inspire and empower you.
                        Unleash your potential, build a supportive community,
                        and embrace a lifestyle that fuels your well-being.
                        <br>
                        <strong>Let's transform together!</strong>
                    </p>
                    {% if user.is_authenticated %}
                    <h3>Welcome back {{user.username}}!</h3>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="btn btn-primary">Join us NOW!</a>
                    {% endif %}
                </div>
            </div>
            <div class="carousel-item carousel">
                <img class="d-block w-100"
                    src="https://res.cloudinary.com/dcqwfgtyk/image/upload/t_community-fill/v1705048846/pexels-cori-emmalea-rodriguez-1187086_emvlgs.jpg"
                    alt="Second slide">
                <div class="carousel-caption d-none d-md-block col-md-8 col-lg-8">
                    <h3>COMMUNITY</h3>
                    <hr>
                    <p> Join our thriving community! Together,
                        we make fitness a communal experience, creating a supportive environment that motivates everyone to
                        reach
                        goals and beyond."
                    </p>
                    {% if user.is_authenticated %}
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="btn btn-primary">Join us NOW!</a>
                    {% endif %}
                </div>
            </div>
            <div class="carousel-item carousel">
                <img class="d-block w-100"
                    src="https://res.cloudinary.com/dcqwfgtyk/image/upload/t_table-food-fill/v1705049845/pexels-fauxels-3184192_ctdg7d.jpg"
                    alt="Third slide">
                <div class="carousel-caption d-none d-md-block col-md-8 col-lg-8">
                    <h3>We are here to support you all the way!</h3>
                    <p>Our fantastic personal trainers are aviable 5 days a week. We can also offer a healty diet plan,
                        rehab or massage!
                        <br>
                        Book a meeting with us!</p>
                    {% if user.is_authenticated %}
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="btn btn-primary">Join us NOW!</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--Membership levels-->
    <div class="container-fluid mt-5 mb-4">
        <div class="row justify-content-center">
            <div class="col-sm mt-2 text-center">
                <h1 class="heading">Welcome to The Muscle Factory</h1>
                <p>Discover a fitness haven at The Muscle Factory, where dedication meets
                    innovation. Our state-of-the-art facility is designed to elevate
                    fitness journey and empower you to achieve your wellness goals.
                </p>
            </div>
            <h3 class="text-center heading">Membership Levels</h3>
            <div class="text-center mr-md-4 col-md-3 mt-2 membership-medals">
                <h3 class="heading mt-2">GOLD</h3>
                <span><i class="fa-solid fa-medal fa-5x" style="color: #FFD43B;"></i></span>
                <h5 class="mt-3">Price: $50/month</h5>
                <h6>Benefits:</h6>
                <ul>
                    <li>Unlimited access to the gym 7 days a week from 07:00 to 17:00</li>
                    <li>2 free wellness treatments per month (e.g., massage, PT or Rehab)</li>
                </ul>
            </div>
            <div class="text-center col-md-3 mr-md-4 mt-2 membership-medals">
                <h3 class="heading mt-2">SILVER</h3>
                <span><i class="fa-solid fa-medal fa-5x" style="color: #b6b5b4;"></i></span>
                <h5 class="mt-3">Price: $40/month</h5>
                <h6>Benefits:</h6>
                <ul>
                    <li>Unlimited access to the gym 7 days a week from 07:00 to 17:00</li>
                    <li>1 free wellness treatments per month (e.g., massage, PT or Rehab)</li>
                </ul>
            </div>
            <div class="text-center col-md-3 mt-2 membership-medals">
                <h3 class="heading mt-2">BRONS</h3>
                <span><i class="fa-solid fa-medal fa-5x" style="color: #e58934;"></i></span>
                <h5 class="mt-3">Price: $30/month</h5>
                <h6>Benefits:</h6>
                <ul>
                    <li>Unlimited access to the gym 7 days a week from 07:00 to 17:00</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Event Entries Column created in Code institute walk through, view repo: https://github.com/Code-Institute-Solutions/Django3blog/blob/master/11_messages/templates/index.html  -->
    <div class="col-12 mt-3 left">
        <h2 class="heading text-center">Check out our upcoming events!</h2>
        <div class="row event-posts">
            {% for event in event_list %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container">
                            {% if "placeholder" in event.featured_image.url %}
                            <img class="card-img-top"
                                src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                                alt="Computor with codeing window open">
                            {% else %}
                            <img class="card-img-top" src="{{ event.featured_image.url }}" alt="Unique event picture">
                            {% endif %}
                            <div class="image-flash">
                                <p class="author">COACH: {{ event.author }}</p>
                            </div>
                        </div>
                        <a href="{% url 'event_detail' event.slug %}" class="event-link">
                            <h2 class="card-title">{{ event.title }}</h2>
                            <p class="card-text">{{ event.excerpt }}</p>
                        </a>
                        <hr>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% endblock %}