{% extends "base.html" %}

{% block content %}
<div class="background-contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!--<section id="email-success">
                    <p>Your email has been sent successfully!</p>
                </section>-->
                 <h1>Would you Like to Connect With Us? 
                    <br>
                    – We're Here to Help!</h1>
            <form method="POST" class="contactForm" onsubmit="return (this);">
                {% csrf_token %}
                {{ form.as_p }}                
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}