{% extends "base.html" %}
<!-- Contact form page -->
{% block content %}
<div class="background-contact-form">
    <div class="container">
        <div class="row">
            <div class="mt-5 mb-3 text-center">
                <div class="contact-form">
                    <h1 class="heading">Would you Like to Connect With Us? </h1>
                    <span><i class="fa-regular fa-envelope fa-5x"></i></span>
                    <hr>
                    <p>If you would like to know more about our events, booking schedule, or any other questions that come to your mind, don't hesitate to contact us!</p>
                    <p>We reply as fast as we can!</p>
                <form id="contactForm" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}                
                    <button class="btn btn-success" type="submit">Submit</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}