{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron jumbotron-fluid jumbotron-about text-center">
            <div class="border-jumbotron">
            <h1 class="display-4">OUR MISSION</h1>
            <p class="lead">We're here to inspire and empower you.
                Unleash your potential, build a supportive community,
                and embrace a lifestyle that fuels your well-being.
                Let's transform together!
            </p>
            </div>
        </div>
         <h2 class="lead">OUR VALUES</h2>
        <div class="our-values-upper">
            <!--Paragraphs are written with ChatGPT https://chat.openai.com/-->
            <div class="health">
                <h4>HEALTH <i class="fa-solid fa-heart"></i></h4>
                <hr>
                <p>"Health is at the heart of our fitness app, where we believe in fostering a holistic approach to well-being.
                    We go beyond traditional exercise routines, focusing on the interconnected elements of physical and mental health. 
                    Our goal is to empower users to cultivate a balanced and sustainable lifestyle,
                    embracing healthy habits that contribute to their overall vitality and longevity.
                    Join us on a journey to prioritize your health, achieve fitness milestones, and enhance your quality of life."
                </p>
            </div>
            <div>
                <h4>COMMUNITY <i class="fa-solid fa-users"></i></h4>
                <hr>
                <p>We believe in the power of unity on the fitness journey. Join our thriving community to connect with fellow 
                    fitness enthusiasts, celebrate achievements, and benefit from a shared commitment to health. Together,
                    we make fitness a communal experience, creating a supportive environment that motivates everyone to reach 
                    goals and beyond."
                </p>
            </div>
        </div>
        <div class="our-values-middle">
            <div class="img-border-contact-form">
                <div class="img-contact-form">
                </div>
            </div>
        </div>
        <div class="our-values-down">
            <div>
                <h4>GROWTH <i class="fa-solid fa-dumbbell"></i></h4>
                <hr>
                <p>'Growth' is the key to unlocking your full potential. We are dedicated to guiding you on a journey of 
                    development and self-discovery through your fitness pursuits. Beyond physical gains, we champion your
                    personal growth, helping you cultivate resilience, discipline, and a positive mindset. Our platform 
                    designed to inspire continuous improvement, empowering you to surpass fitness goals while fostering 
                    a mindset that extends beyond the gym. Elevate your fitness experience with us, where every workout 
                    becomes a stepping stone towards personal growth and a better you."
                </p>
            </div>
            <div>
                <h4> CUSTOMIZATION<i class="fa-solid fa-user"></i></h4>
                <hr>
                <p>We understand that every individual is different, and so are their fitness goals. With our personalized 
                    approach, you can tailor your workouts to match your preferences, fitness level, and objectives. 
                    From flexible training schedules to diverse exercise options, we empower you to create a fitness routine 
                    that suits your lifestyle. Experience the freedom to shape your fitness path and achieve results that are 
                    as unique as you are. Welcome to a fitness experience that revolves around you and your individual aspirations."
                </p>
            </div>
        </div>
{%endblock%}