{% load static %}

<!DOCTYPE html>
<html class="h-100">
<head>
    <title>The Muscle Factory</title>
    <!-- Connects to google fonts, credits https://fonts.google.com/-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--BootStrap links-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--Jquery script-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <!--Connecting static files-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--Font Awsome credits: https://fontawesome.com/-->
    <script src="https://kit.fontawesome.com/90ae6df711.js" crossorigin="anonymous"></script>
    <!--Favicon link credits: https://favicon.io/favicon-converter/-->
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <!-- The following two script tags are for connecting emailjs and the emailfunction, credits: https://www.emailjs.com/-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script>
        (function () {
            emailjs.init("EnKaM6okn7N581fgK");
        })();
    </script>
</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation, created with Code institute walktrough project,
    "I think therefore I blog". The if statements and urls have been
    changed to suit this project-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><span class="brand">The Muscle Factory</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mb-2 mb-lg-0 ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'process_form' %}">Bookings</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Bookings</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_bookings' %}">My bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <!--Code copied from Code institute walktrough project, "I think therefore I blog". This will inform the user while performing an action-->
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">{{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    <!--Inside the block content the extended code renders-->
    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!--Footer-->
    <footer class="footer mt-auto py-3 dark-bg">
        <div class="container">
            <div class="row justify-content-center offset-md-1">
                <div class="m-0 col-sm-12 col-md-5 mt-1">
                    <h5 class="heading">Opening Hours:</h5>
                    <p>Monday to Friday: 6:00 AM - 10:00 PM</p>
                    <p>Saturday: 8:00 AM - 8:00 PM</p>
                    <p>Sunday: 8:00 AM - 8:00 PM</p>
                </div>
                <div class="m-0 col-sm-12 col-md-5 col-lg-4 mt-1">
                    <h5 class="heading">Address:</h5>                
                    <p>The Muscle Factory</p>
                    <p>Drottningholms Slott Slottsstallet 11</p>
                    <p>Stockholm Sweden<p>
                </div>
            </div>
        </div>
            <p class="m-0 mt-4 text-center text-white thin">© The Muscle Factory 2023-2024</p>
            <p class="m-0 text-center text-white thin">Follow us:
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-square ms-3 link-footer"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram-square ms-3 link-footer"></i></a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube-square ms-3 link-footer"></i></a>
            </p>
        </div>
    </footer>
    
    <!--Conects script.js-->
    <script src="{% static 'js/script.js' %}"></script>

    <!-- Alert messages timeoutfunction, code is from Code Institute walktrough project-->
    <script>
    setTimeout(function () {
        let messages = document.getElementById('msg');
        let alert = new bootstrap.Alert(messages);
        alert.close();
    }, 2000);
    </script>
</body>

</html>