{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
        <form action="" method="post" class="contact-form">
            {% csrf_token %}
            <label for="name">Full name</label>
            <input type="name" name="name"required>
            <label for="email">Email</label>
            <input type="email" name="email" required>
            <label for="phonenumber">Phonenumber</label>
            <input type="number" name="phonenumber">
            <label for="message">Contact us!</label>
            <textarea type="text" name="message" required row="5"></textarea>
            <button type="submit">Submit</button>
        </form>
        </div>
    </div>
</div>
{%endblock%}